.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_0_18.xml
.idea/libraries/Gradle__com_google_guava_guava_22_0.xml
.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/modules/JavaPlayground_main.iml
.idea/modules/JavaPlayground_test.iml
build/classes/java/main/App.class
build/classes/java/test/AppTest.class
build/distributions/JavaPlayground.tar
build/distributions/JavaPlayground.zip
build/libs/JavaPlayground.jar
build/reports/tests/test/index.html
build/reports/tests/test/classes/AppTest.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/default-package.html
build/scripts/JavaPlayground
build/scripts/JavaPlayground.bat
build/test-results/test/TEST-AppTest.xml
build/test-results/test/binary/output.bin.idx
build/tmp/jar/MANIFEST.MF
